[submodule "frontend"]
	path = frontend
	url = https://github.com/cristianTalero/prueba-tecnica-react.git
[submodule "backend"]
	path = backend
	url = https://github.com/cristianTalero/prueba-tecnica-api.git
